@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #081F32;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.about__video-block {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.about__video-block video,
.about__video-block iframe,
.about__video-block object,
.about__video-block embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  background-color: #fff;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.3125rem 0;
}

.header__menu {
  margin-right: auto;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone {
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.header__soc {
  border-radius: 50%;
  overflow: hidden;
}

.header__soc img {
  border-radius: 50%;
  overflow: hidden;
  max-width: 2rem;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer {
  background-color: #fff;
  padding: 2.5rem 0;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.1875rem;
}

.footer__menu {
  margin-right: auto;
}

.footer__menu .menu__list {
  gap: 3.125rem;
}

.footer__phone {
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.footer__soc {
  border-radius: 50%;
  overflow: hidden;
}

.footer__soc img {
  border-radius: 50%;
  overflow: hidden;
  max-width: 2rem;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__bottom-text {
  text-align: center;
  line-height: 1.3;
}

.promo {
  background: linear-gradient(42deg, #fcc703 0%, #dd9c03 100%);
  position: relative;
}

.no-webp .promo::before{
  background-image: url("../img/promo-bg.png"); }

.promo::before {
  content: "";
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  position: absolute;
  right: 10%;
  bottom: 0;
  height: 44.4375rem;
  width: 25.3125rem;
  pointer-events: none;
}

.promo__inner {
  padding: 4.375rem 0 2.8125rem;
  max-width: 51.875rem;
}

.promo__title {
  letter-spacing: 0.537px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.9375rem;
}

.promo__title span {
  color: #fff;
}

.promo__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  margin-bottom: 2.5rem;
}

.promo__text {
  color: #fff;
  line-height: 1.2;
}

.promo__text span {
  font-weight: 500;
  color: #081F32;
}

.promo__btn {
  padding: 0.9375rem 4.625rem;
  text-align: center;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #081F32;
  -webkit-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.41);
          box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.41);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.promo__items {
  max-width: 46.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.promo__item {
  -webkit-box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.53);
          box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.53);
  max-width: 23.125rem;
  width: 100%;
  height: 100%;
}

.promo__item img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.promo__arrows {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 19%;
  border-radius: 50%;
  overflow: hidden;
  background-color: #081F32;
  display: -ms-grid;
  display: grid;
  place-content: center;
  max-width: 4.5rem;
}

.promo__arrows svg {
  max-width: 4.5rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.advantages {
  background-color: #2BB49B;
}

.advantages__title {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3.125rem;
}

.advantages__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 3.75rem;
  padding: 3.125rem;
  position: relative;
}

.advantages__items::before,
.advantages__items::after {
  content: "";
  position: absolute;
  width: 161px;
  height: 163px;
}

.advantages__items::before {
  border-left: 9px solid #145549;
  border-top: 9px solid #145549;
  top: 0;
  left: 0;
}

.advantages__items::after {
  border-right: 9px solid #145549;
  border-bottom: 9px solid #145549;
  right: 0;
  bottom: 0;
}

.advantages__img {
  max-width: 13.25rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 1.875rem;
  border-radius: 50%;
  background-color: #2BB49B;
  -webkit-filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.11));
          filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.11));
  margin: 0 auto 1.5625rem;
}

.advantages__img img {
  max-width: 8.75rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages__text {
  color: #fff;
  line-height: 1.2;
  text-align: center;
}

.advantages__link {
  text-transform: uppercase;
  background-color: #081F32;
  -webkit-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.41);
          box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.41);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #fff;
  padding: 0.9375rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  font-weight: 500;
}

.about {
  background-color: #FCC703;
}

.about__title {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.375rem;
}

.about__text {
  text-align: center;
  line-height: 1.2;
  max-width: 32.5rem;
  margin: 0 auto 3.125rem;
}

.about__text span {
  color: #fff;
}

.about__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 1.875rem;
  margin-bottom: 2.5rem;
}

.about__item {
  background: #2bb49b;
  -webkit-box-shadow: -7px 4px 16px 0px rgba(0, 0, 0, 0.16);
          box-shadow: -7px 4px 16px 0px rgba(0, 0, 0, 0.16);
  padding: 1.5625rem 2.125rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  position: relative;
}

.about__item::before,
.about__item::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 36px;
}

.about__item::before {
  border-left: 2px solid #072132;
  border-top: 2px solid #072132;
  top: 0;
  left: 0;
}

.about__item::after {
  border-right: 2px solid #072132;
  border-bottom: 2px solid #072132;
  right: 0;
  bottom: 0;
}

.about__item-text {
  color: #fff;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto;
}

.about__video {
  max-width: 37.875rem;
  width: 100%;
  margin: 0 auto 2.8125rem;
}

.about__video-block {
  max-width: 37.875rem;
  width: 100%;
  display: none;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  visibility: hidden;
  pointer-events: none;
}

.video-enabled .about__video-block {
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.about__video-preloader {
  max-width: 37.875rem;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.about__video-preloader img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.video-enabled .about__video-preloader {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.about__video-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
}

.about__block {
  padding: 0.8125rem 1.5625rem;
  -webkit-box-shadow: -7px 4px 16px 0px rgba(0, 0, 0, 0.16);
          box-shadow: -7px 4px 16px 0px rgba(0, 0, 0, 0.16);
  border: 1px solid #072132;
  background-color: #2BB49B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.375rem;
  max-width: 37.6875rem;
  margin: 0 auto;
}

.about__block-icon {
  max-width: 3.0625rem;
}

.about__block-icon img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__block-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__block-oldprice {
  text-decoration: line-through;
  color: #0b333f;
}

.about__block-price {
  font-weight: 700;
  color: #fff;
}

.about__block-sale {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  line-height: 1.2;
}

.about__block-sale span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  color: #081F32;
}

.timer {
  background-color: #081F32;
  padding: 4.375rem 0 3.4375rem;
}

.timer__container {
  max-width: 61.25rem;
}

.timer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer__info {
  max-width: 30.375rem;
}

.timer__title {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0.6875rem;
}

.timer__text {
  line-height: 1.2;
  color: #fff;
}

.timer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timer__num {
  padding: 0.8125rem;
  color: #fff;
  background-color: #2BB49B;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.timer__subtext {
  text-transform: uppercase;
  color: #fff;
}

.timer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.timer__item:not(:last-child) .timer__num {
  position: relative;
}

.timer__item:not(:last-child) .timer__num::after {
  content: ":";
  position: absolute;
  top: 10%;
  color: #fff;
}

.contacts {
  background-color: #2BB49B;
}

.contacts__container {
  max-width: 61.25rem;
}

.contacts__inner {
  background: #FCC703;
  -webkit-box-shadow: -7px 4px 16px 0px rgba(0, 0, 0, 0.16);
          box-shadow: -7px 4px 16px 0px rgba(0, 0, 0, 0.16);
  padding: 4.6875rem 2.5rem 5rem;
}

.contacts__title {
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}

.contacts__text {
  text-align: center;
  max-width: 29.125rem;
  margin: 0 auto 2.5rem;
  line-height: 1.2;
  position: relative;
}

.no-webp .contacts__text::before{
  background-image: url("../img/pack.png"); }

.contacts__text::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 3.0625rem;
  height: 3.0625rem;
  top: 0;
  left: -12%;
}

.contacts__form {
  max-width: 30.375rem;
  width: 100%;
  margin: 0 auto;
}

.contacts__block:not(:last-child) {
  margin-bottom: 1.25rem;
}

.contacts__input {
  width: 100%;
  height: 3.75rem;
  padding: 0 1.25rem;
  border: 1px solid transparent;
}

.contacts__input:focus,
.contacts__input:focus-visible {
  outline: 1px solid #2BB49B;
}

.contacts__input::-webkit-input-placeholder {
  color: #aeaeae;
}

.contacts__input::-moz-placeholder {
  color: #aeaeae;
}

.contacts__input:-ms-input-placeholder {
  color: #aeaeae;
}

.contacts__input::-ms-input-placeholder {
  color: #aeaeae;
}

.contacts__input::placeholder {
  color: #aeaeae;
}

.contacts__btn {
  padding: 1rem 4.1875rem;
  background-color: #081F32;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.41);
          box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.41);
  font-weight: 500;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 2.1875rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

@media (min-width: 73.125em) {
  .header__inner {
    gap: 7.5rem;
  }

  .header__actions {
    gap: 7.5rem;
  }

  .menu__list {
    gap: 3.125rem;
  }

  .footer__top {
    gap: 6.25rem;
  }

  .footer__bottom-text {
    font-size: 1rem;
  }

  .promo__title {
    font-size: 4.25rem;
  }

  .promo__text {
    font-size: 1.25rem;
  }

  .promo__btn {
    font-size: 1.125rem;
  }

  .promo__items {
    margin-bottom: -6.25rem;
  }

  .advantages {
    padding-top: 8.75rem;
  }

  .advantages {
    padding-bottom: 8.75rem;
  }

  .advantages__title {
    font-size: 2.25rem;
  }

  .advantages__items {
    gap: 4.125rem;
  }

  .advantages__text {
    font-size: 1.125rem;
  }

  .about {
    padding-top: 7.5rem;
  }

  .about {
    padding-bottom: 7.5rem;
  }

  .about__title {
    font-size: 2.25rem;
  }

  .about__text {
    font-size: 1.125rem;
  }

  .about__item-text {
    font-size: 1.0625rem;
  }

  .about__block-oldprice {
    font-size: 1.375rem;
  }

  .about__block-price {
    font-size: 1.75rem;
  }

  .about__block-sale {
    font-size: 1.125rem;
  }

  .timer__title {
    font-size: 1.8125rem;
  }

  .timer__text {
    font-size: 1rem;
  }

  .timer__body {
    gap: 3.75rem;
  }

  .timer__num {
    font-size: 3.375rem;
  }

  .timer__subtext {
    font-size: 0.75rem;
  }

  .timer__item:not(:last-child) .timer__num::after {
    right: -2.375rem;
  }

  .timer__item:not(:last-child) .timer__num::after {
    font-size: 3.375rem;
  }

  .contacts {
    padding-top: 8.125rem;
  }

  .contacts {
    padding-bottom: 8.125rem;
  }

  .contacts__title {
    font-size: 2.25rem;
  }

  .contacts__input {
    font-size: 1.125rem;
  }

  .contacts__input::-webkit-input-placeholder {
    font-size: 1.125rem;
  }

  .contacts__input::-moz-placeholder {
    font-size: 1.125rem;
  }

  .contacts__input:-ms-input-placeholder {
    font-size: 1.125rem;
  }

  .contacts__input::-ms-input-placeholder {
    font-size: 1.125rem;
  }

  .contacts__input::placeholder {
    font-size: 1.125rem;
  }

  .contacts__btn {
    font-size: 1.125rem;
  }
}

@media (max-width: 20em) {
  .footer__bottom-text {
    font-size: 0.6875rem;
  }

  .promo__title {
    font-size: 1.4375rem;
  }

  .promo__text {
    font-size: 0.8125rem;
  }

  .promo__btn {
    font-size: 0.8125rem;
  }

  .advantages {
    padding-top: 5rem;
  }

  .advantages {
    padding-bottom: 5rem;
  }

  .advantages__title {
    font-size: 1.375rem;
  }

  .advantages__items {
    gap: 1.875rem;
  }

  .advantages__text {
    font-size: 0.6875rem;
  }

  .about {
    padding-top: 5.625rem;
  }

  .about {
    padding-bottom: 3.75rem;
  }

  .about__title {
    font-size: 1.375rem;
  }

  .about__text {
    font-size: 0.8125rem;
  }

  .about__item-text {
    font-size: 0.8125rem;
  }

  .about__block-oldprice {
    font-size: 1.0625rem;
  }

  .about__block-price {
    font-size: 1.4375rem;
  }

  .about__block-sale {
    font-size: 0.8125rem;
  }

  .timer__title {
    font-size: 1.0625rem;
  }

  .timer__text {
    font-size: 0.6875rem;
  }

  .timer__num {
    font-size: 2rem;
  }

  .timer__subtext {
    font-size: 0.4375rem;
  }

  .timer__item:not(:last-child) .timer__num::after {
    font-size: 2rem;
  }

  .contacts {
    padding-top: 4.375rem;
  }

  .contacts {
    padding-bottom: 4.375rem;
  }

  .contacts__title {
    font-size: 1.4375rem;
  }

  .contacts__input {
    font-size: 0.8125rem;
  }

  .contacts__input::-webkit-input-placeholder {
    font-size: 0.8125rem;
  }

  .contacts__input::-moz-placeholder {
    font-size: 0.8125rem;
  }

  .contacts__input:-ms-input-placeholder {
    font-size: 0.8125rem;
  }

  .contacts__input::-ms-input-placeholder {
    font-size: 0.8125rem;
  }

  .contacts__input::placeholder {
    font-size: 0.8125rem;
  }

  .contacts__btn {
    font-size: 0.8125rem;
  }
}

@media (max-width: 92.49875em) {
  .promo::before {
    right: 0;
  }
}

@media (max-width: 73.125em) {
  .promo::before {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .header__inner {
    gap: 1.25rem;
  }

  .header__actions {
    gap: 1.25rem;
  }

  .header__phone {
    font-size: 1rem;
  }

  .menu__list {
    gap: 1.25rem;
  }

  .menu__link {
    font-size: 0.875rem;
  }

  .footer__top {
    gap: 1.25rem;
  }

  .footer__top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  .footer__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 100%;
    -ms-grid-column-span: 3;
    grid-column: span 3;
    margin: 0 auto;
  }

  .footer__phone {
    font-size: 1rem;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .footer__socials {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .promo__items {
    margin-bottom: 0.0000000625rem;
  }

  .promo__arrows {
    max-width: 3.5rem;
  }

  .advantages__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    padding: 2.5rem;
  }

  .advantages__items::before,
  .advantages__items::after {
    width: 139px;
    height: 141px;
  }

  .advantages__items::before {
    border-left: 8px solid #145549;
    border-top: 8px solid #145549;
  }

  .advantages__items::after {
    border-right: 8px solid #145549;
    border-bottom: 8px solid #145549;
  }

  .advantages__img {
    max-width: 11.4375rem;
    padding: 1.25rem;
  }

  .about__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.25rem;
  }

  .timer {
    padding: 1.875rem 0;
  }

  .timer__body {
    gap: 1.875rem;
  }

  .timer__item:not(:last-child) .timer__num::after {
    right: -1.25rem;
  }
}

@media (max-width: 39.37375em) {
  .header__menu {
    display: none;
  }
}

@media (max-width: 39.99875em) {
  .contacts__text::before {
    width: 2rem;
    height: 2rem;
  }

  .contacts__text {
    margin: 0 auto 1.875rem;
    font-size: 0.8125rem;
    max-width: 17.25rem;
  }
}

@media (max-width: 38.74875em) {
  .promo__title {
    text-align: center;
  }

  .promo__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .promo__text {
    text-align: center;
  }
}

@media (max-width: 37.49875em) {
  .timer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .timer__info {
    text-align: center;
    max-width: 100%;
  }
}

@media (max-width: 31.87375em) {
  .footer__phone {
    font-size: 0.8125rem;
  }
}

@media (max-width: 29.99875em) {
  .header__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__actions {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__phone {
    font-size: 0.8125rem;
  }

  .footer {
    padding: 1.875rem 0;
  }

  .footer__top {
    margin-bottom: 1.875rem;
    gap: 0.9375rem;
    -ms-grid-columns: 66px 1fr 72px;
    grid-template-columns: 66px 1fr 72px;
  }

  .footer__phone {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer__socials {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .footer__soc img {
    max-width: 1.625rem;
  }

  .promo__arrows {
    max-width: 2rem;
  }

  .advantages__title {
    margin-bottom: 2.5rem;
  }

  .advantages__items {
    margin-bottom: 3.125rem;
    padding: 1.5625rem;
  }

  .advantages__items::before,
  .advantages__items::after {
    width: 93px;
    height: 96px;
  }

  .advantages__items::before {
    border-left: 5px solid #145549;
    border-top: 5px solid #145549;
  }

  .advantages__items::after {
    border-right: 5px solid #145549;
    border-bottom: 5px solid #145549;
  }

  .advantages__link {
    font-size: 0.875rem;
  }

  .about__title {
    margin-bottom: 0.9375rem;
  }

  .about__text {
    margin: 0 auto 1.875rem;
  }

  .about__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .about__video-btn {
    max-width: 2rem;
  }

  .about__video-btn svg {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
  }

  .about__block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 65px 1fr;
    grid-template-columns: 65px 1fr;
  }

  .about__block-icon {
    -ms-grid-column-align: end;
        justify-self: end;
    max-width: 2.625rem;
  }

  .about__block-prices {
    margin-right: auto;
  }

  .about__block-sale {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 0.3125rem;
       -moz-column-gap: 0.3125rem;
            column-gap: 0.3125rem;
    margin: 0 auto;
  }

  .contacts__inner {
    padding: 3.125rem 1.25rem;
  }

  .contacts__input {
    height: 2.8125rem;
  }
}

@media (max-width: 24.99875em) {
  .contacts__text {
    max-width: 13.75rem;
  }
}

@media (max-width: 21.87375em) {
  .header__inner {
    gap: 0.9375rem;
  }

  .header__actions {
    gap: 0.9375rem;
  }

  .header__socials {
    gap: 0.9375rem;
  }

  .footer__menu .menu__list {
    gap: 1.875rem;
  }

  .footer__socials {
    gap: 0.9375rem;
  }
}

@media (min-width: 47.99875em) and (max-width: 73.125em) {
@supports (gap: clamp( 1.25rem , -10.6893935625rem  +  24.874384359vw , 7.5rem )) {
    .header__inner {
      gap: clamp( 1.25rem , -10.6893935625rem  +  24.874384359vw , 7.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , -10.6893935625rem  +  24.874384359vw , 7.5rem )) {
    .header__inner {
      gap: calc(1.25rem + 6.25 * (100vw - 47.99875rem) / 25.12625);
    }
}

@supports (gap: clamp( 1.25rem , -10.6893935625rem  +  24.874384359vw , 7.5rem )) {
    .header__actions {
      gap: clamp( 1.25rem , -10.6893935625rem  +  24.874384359vw , 7.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , -10.6893935625rem  +  24.874384359vw , 7.5rem )) {
    .header__actions {
      gap: calc(1.25rem + 6.25 * (100vw - 47.99875rem) / 25.12625);
    }
}

@supports (gap: clamp( 1.25rem , -2.3318180688rem  +  7.4623153077vw , 3.125rem )) {
    .menu__list {
      gap: clamp( 1.25rem , -2.3318180688rem  +  7.4623153077vw , 3.125rem );
    }
}

@supports not (gap: clamp( 1.25rem , -2.3318180688rem  +  7.4623153077vw , 3.125rem )) {
    .menu__list {
      gap: calc(1.25rem + 1.875 * (100vw - 47.99875rem) / 25.12625);
    }
}

@supports (gap: clamp( 1.25rem , -8.30151485rem  +  19.8995074872vw , 6.25rem )) {
    .footer__top {
      gap: clamp( 1.25rem , -8.30151485rem  +  19.8995074872vw , 6.25rem );
    }
}

@supports not (gap: clamp( 1.25rem , -8.30151485rem  +  19.8995074872vw , 6.25rem )) {
    .footer__top {
      gap: calc(1.25rem + 5 * (100vw - 47.99875rem) / 25.12625);
    }
}

@supports (margin-bottom: clamp( -6.25rem , 11.9393937444rem  +  -24.8743846077vw , 0.0000000625rem )) {
    .promo__items {
      margin-bottom: clamp( -6.25rem , 11.9393937444rem  +  -24.8743846077vw , 0.0000000625rem );
    }
}

@supports not (margin-bottom: clamp( -6.25rem , 11.9393937444rem  +  -24.8743846077vw , 0.0000000625rem )) {
    .promo__items {
      margin-bottom: calc(0.0000000625rem + -6.2500000625 * (100vw - 47.99875rem) / 25.12625);
    }
}

@supports (gap: clamp( 1.875rem , -1.7068180688rem  +  7.4623153077vw , 3.75rem )) {
    .timer__body {
      gap: clamp( 1.875rem , -1.7068180688rem  +  7.4623153077vw , 3.75rem );
    }
}

@supports not (gap: clamp( 1.875rem , -1.7068180688rem  +  7.4623153077vw , 3.75rem )) {
    .timer__body {
      gap: calc(1.875rem + 1.875 * (100vw - 47.99875rem) / 25.12625);
    }
}

@supports (right: clamp( -2.375rem , 0.8990908413rem  +  -4.4773891846vw , -1.25rem )) {
    .timer__item:not(:last-child) .timer__num::after {
      right: clamp( -2.375rem , 0.8990908413rem  +  -4.4773891846vw , -1.25rem );
    }
}

@supports not (right: clamp( -2.375rem , 0.8990908413rem  +  -4.4773891846vw , -1.25rem )) {
    .timer__item:not(:last-child) .timer__num::after {
      right: calc(-1.25rem + -1.125 * (100vw - 47.99875rem) / 25.12625);
    }
}
}

@media (min-width: 20em) and (max-width: 73.125em) {
@supports (font-size: clamp( 0.6875rem , 0.5698529412rem  +  0.5882352941vw , 1rem )) {
    .footer__bottom-text {
      font-size: clamp( 0.6875rem , 0.5698529412rem  +  0.5882352941vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.6875rem , 0.5698529412rem  +  0.5882352941vw , 1rem )) {
    .footer__bottom-text {
      font-size: calc(0.6875rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1.4375rem , 0.3786764706rem  +  5.2941176471vw , 4.25rem )) {
    .promo__title {
      font-size: clamp( 1.4375rem , 0.3786764706rem  +  5.2941176471vw , 4.25rem );
    }
}

@supports not (font-size: clamp( 1.4375rem , 0.3786764706rem  +  5.2941176471vw , 4.25rem )) {
    .promo__title {
      font-size: calc(1.4375rem + 2.8125 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.6477941176rem  +  0.8235294118vw , 1.25rem )) {
    .promo__text {
      font-size: clamp( 0.8125rem , 0.6477941176rem  +  0.8235294118vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.6477941176rem  +  0.8235294118vw , 1.25rem )) {
    .promo__text {
      font-size: calc(0.8125rem + 0.4375 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem )) {
    .promo__btn {
      font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem )) {
    .promo__btn {
      font-size: calc(0.8125rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 5rem , 3.5882352941rem  +  7.0588235294vw , 8.75rem )) {
    .advantages {
      padding-top: clamp( 5rem , 3.5882352941rem  +  7.0588235294vw , 8.75rem );
    }
}

@supports not (padding-top: clamp( 5rem , 3.5882352941rem  +  7.0588235294vw , 8.75rem )) {
    .advantages {
      padding-top: calc(5rem + 3.75 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 5rem , 3.5882352941rem  +  7.0588235294vw , 8.75rem )) {
    .advantages {
      padding-bottom: clamp( 5rem , 3.5882352941rem  +  7.0588235294vw , 8.75rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 3.5882352941rem  +  7.0588235294vw , 8.75rem )) {
    .advantages {
      padding-bottom: calc(5rem + 3.75 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1.375rem , 1.0455882353rem  +  1.6470588235vw , 2.25rem )) {
    .advantages__title {
      font-size: clamp( 1.375rem , 1.0455882353rem  +  1.6470588235vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.0455882353rem  +  1.6470588235vw , 2.25rem )) {
    .advantages__title {
      font-size: calc(1.375rem + 0.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (gap: clamp( 1.875rem , 1.0279411765rem  +  4.2352941176vw , 4.125rem )) {
    .advantages__items {
      gap: clamp( 1.875rem , 1.0279411765rem  +  4.2352941176vw , 4.125rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.0279411765rem  +  4.2352941176vw , 4.125rem )) {
    .advantages__items {
      gap: calc(1.875rem + 2.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 0.6875rem , 0.5227941176rem  +  0.8235294118vw , 1.125rem )) {
    .advantages__text {
      font-size: clamp( 0.6875rem , 0.5227941176rem  +  0.8235294118vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.6875rem , 0.5227941176rem  +  0.8235294118vw , 1.125rem )) {
    .advantages__text {
      font-size: calc(0.6875rem + 0.4375 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 5.625rem , 4.9191176471rem  +  3.5294117647vw , 7.5rem )) {
    .about {
      padding-top: clamp( 5.625rem , 4.9191176471rem  +  3.5294117647vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , 4.9191176471rem  +  3.5294117647vw , 7.5rem )) {
    .about {
      padding-top: calc(5.625rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 2.3382352941rem  +  7.0588235294vw , 7.5rem )) {
    .about {
      padding-bottom: clamp( 3.75rem , 2.3382352941rem  +  7.0588235294vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 2.3382352941rem  +  7.0588235294vw , 7.5rem )) {
    .about {
      padding-bottom: calc(3.75rem + 3.75 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1.375rem , 1.0455882353rem  +  1.6470588235vw , 2.25rem )) {
    .about__title {
      font-size: clamp( 1.375rem , 1.0455882353rem  +  1.6470588235vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.0455882353rem  +  1.6470588235vw , 2.25rem )) {
    .about__title {
      font-size: calc(1.375rem + 0.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem )) {
    .about__text {
      font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem )) {
    .about__text {
      font-size: calc(0.8125rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.7183823529rem  +  0.4705882353vw , 1.0625rem )) {
    .about__item-text {
      font-size: clamp( 0.8125rem , 0.7183823529rem  +  0.4705882353vw , 1.0625rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.7183823529rem  +  0.4705882353vw , 1.0625rem )) {
    .about__item-text {
      font-size: calc(0.8125rem + 0.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1.0625rem , 0.9448529412rem  +  0.5882352941vw , 1.375rem )) {
    .about__block-oldprice {
      font-size: clamp( 1.0625rem , 0.9448529412rem  +  0.5882352941vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.0625rem , 0.9448529412rem  +  0.5882352941vw , 1.375rem )) {
    .about__block-oldprice {
      font-size: calc(1.0625rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1.4375rem , 1.3198529412rem  +  0.5882352941vw , 1.75rem )) {
    .about__block-price {
      font-size: clamp( 1.4375rem , 1.3198529412rem  +  0.5882352941vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.4375rem , 1.3198529412rem  +  0.5882352941vw , 1.75rem )) {
    .about__block-price {
      font-size: calc(1.4375rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem )) {
    .about__block-sale {
      font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem )) {
    .about__block-sale {
      font-size: calc(0.8125rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1.0625rem , 0.7801470588rem  +  1.4117647059vw , 1.8125rem )) {
    .timer__title {
      font-size: clamp( 1.0625rem , 0.7801470588rem  +  1.4117647059vw , 1.8125rem );
    }
}

@supports not (font-size: clamp( 1.0625rem , 0.7801470588rem  +  1.4117647059vw , 1.8125rem )) {
    .timer__title {
      font-size: calc(1.0625rem + 0.75 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 0.6875rem , 0.5698529412rem  +  0.5882352941vw , 1rem )) {
    .timer__text {
      font-size: clamp( 0.6875rem , 0.5698529412rem  +  0.5882352941vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.6875rem , 0.5698529412rem  +  0.5882352941vw , 1rem )) {
    .timer__text {
      font-size: calc(0.6875rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 2rem , 1.4823529412rem  +  2.5882352941vw , 3.375rem )) {
    .timer__num {
      font-size: clamp( 2rem , 1.4823529412rem  +  2.5882352941vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.4823529412rem  +  2.5882352941vw , 3.375rem )) {
    .timer__num {
      font-size: calc(2rem + 1.375 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 0.4375rem , 0.3198529412rem  +  0.5882352941vw , 0.75rem )) {
    .timer__subtext {
      font-size: clamp( 0.4375rem , 0.3198529412rem  +  0.5882352941vw , 0.75rem );
    }
}

@supports not (font-size: clamp( 0.4375rem , 0.3198529412rem  +  0.5882352941vw , 0.75rem )) {
    .timer__subtext {
      font-size: calc(0.4375rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 2rem , 1.4823529412rem  +  2.5882352941vw , 3.375rem )) {
    .timer__item:not(:last-child) .timer__num::after {
      font-size: clamp( 2rem , 1.4823529412rem  +  2.5882352941vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.4823529412rem  +  2.5882352941vw , 3.375rem )) {
    .timer__item:not(:last-child) .timer__num::after {
      font-size: calc(2rem + 1.375 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 4.375rem , 2.9632352941rem  +  7.0588235294vw , 8.125rem )) {
    .contacts {
      padding-top: clamp( 4.375rem , 2.9632352941rem  +  7.0588235294vw , 8.125rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , 2.9632352941rem  +  7.0588235294vw , 8.125rem )) {
    .contacts {
      padding-top: calc(4.375rem + 3.75 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 4.375rem , 2.9632352941rem  +  7.0588235294vw , 8.125rem )) {
    .contacts {
      padding-bottom: clamp( 4.375rem , 2.9632352941rem  +  7.0588235294vw , 8.125rem );
    }
}

@supports not (padding-bottom: clamp( 4.375rem , 2.9632352941rem  +  7.0588235294vw , 8.125rem )) {
    .contacts {
      padding-bottom: calc(4.375rem + 3.75 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1.4375rem , 1.1316176471rem  +  1.5294117647vw , 2.25rem )) {
    .contacts__title {
      font-size: clamp( 1.4375rem , 1.1316176471rem  +  1.5294117647vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.4375rem , 1.1316176471rem  +  1.5294117647vw , 2.25rem )) {
    .contacts__title {
      font-size: calc(1.4375rem + 0.8125 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem )) {
    .contacts__input {
      font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem )) {
    .contacts__input {
      font-size: calc(0.8125rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem )) {
    .contacts__input::-webkit-input-placeholder {
      font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem );
    }
    .contacts__input::-moz-placeholder {
      font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem );
    }
    .contacts__input:-ms-input-placeholder {
      font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem );
    }
    .contacts__input::-ms-input-placeholder {
      font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem );
    }
    .contacts__input::placeholder {
      font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem )) {
    .contacts__input::-webkit-input-placeholder {
      font-size: calc(0.8125rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
    .contacts__input::-moz-placeholder {
      font-size: calc(0.8125rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
    .contacts__input:-ms-input-placeholder {
      font-size: calc(0.8125rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
    .contacts__input::-ms-input-placeholder {
      font-size: calc(0.8125rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
    .contacts__input::placeholder {
      font-size: calc(0.8125rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem )) {
    .contacts__btn {
      font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.6948529412rem  +  0.5882352941vw , 1.125rem )) {
    .contacts__btn {
      font-size: calc(0.8125rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
}
}

@media (any-hover: hover) {
  .header__phone:hover {
    color: #2BB49B;
  }

  .menu__link:hover {
    color: #2BB49B;
  }

  .footer__phone:hover {
    color: #2BB49B;
  }

  .promo__btn:hover {
    background-color: #173b58;
  }

  .advantages__link:hover {
    background-color: #173b58;
  }

  .contacts__btn:hover {
    background-color: #173b58;
  }
}

.webp .promo::before{ background-image: url(../img/promo-bg.webp); }

.webp .contacts__text::before{ background-image: url(../img/pack.webp); }